@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .heading {
    font-size: 30px;
    padding-top: 25px;
}

.container #search-box {
    width: 600px;
    border: 3px solid #000;
    padding: 12px 15px;
    font-size: 20px;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.card {
    position: relative;
    background: #fff;
    max-width: 300px;
    width: 300px;
    height: 500px;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    max-height: 200px;

}

.card-image img {
    max-width: 100%;
    height: auto;
    background: cover;
}

.card-info {
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
    margin-top: 50px;
}

.card-info h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 5px;
    
}

.card-info p {
    font-size: 1em;
    margin-bottom: 5px;
}

.pagination {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 45px;
}

.previous-page,
.next-page {
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover {
    transform: translateX(-5px);
}

.next-page:hover {
    transform: translateX(-5px);
}

.current-page,
.dots {
    background: #ccc;
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
}

.previous-page,
.next-page {
    background: #0AB1CE;
}

.current-page,
.dots {
    background: #ccc;
    width: 45px;
}

@keyframes fadeIn {
    0% {
        transform: scale(.5) translateY(-10px);
        opacity: 0;
    }
}

.active {
    background: #0AB1CE;
}

.disable {
    background: #ccc;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }